<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>国家重点研发计划</title>

    <!-- Google fonts
    <link href="//fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
	<link href="//fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
-->
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">


</head>
<body>
<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light stroke">
            <span> 开放生态化云ERP平台</span>
            <!-- if logo is image enable this
              <a class="navbar-brand" href="#index.html">
                  <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
              </a> -->
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--/header-->
<div class="header-gap">

</div>



<!-- banner section -->
<section id="home" class="w3l-banner pb-5">
    <div class="container pb-md-3">
        <div class="banner-wrapper text-center">
            <div class="">
                <span class="text">
					国家重点研发计划“网络协同制造和智能工厂”重点专项
				</span>
                <h1 class="mb-4 title">开放生态化云ERP 平台</h1>
                <!--<h3 class="mb-4 title"><b>金蝶·苍穹云 平台</b></h3>-->
                <div class="row" align="center">
                    <div class="col-lg-2 col-md-4 mt-5">
                        <a href="http://localhost:8081/caiwu" class="d-block">
                            <img src="assets/images/caiwu.png" alt="" class="img-fluid" />
                            <!--<h5 class="my-3">财务云</h5>-->
                        </a>

                    </div>
                    <div class="col-lg-2 col-md-4 mt-5">
                        <a href="http://localhost:8081/zhizao" class="d-block">
                            <img src="assets/images/shengchang.png" alt="" class="img-fluid" />
                        </a>

                    </div>
                    <div class="col-lg-2 col-md-4 mt-5">
                        <a href="http://localhost:8081/yuangongfuwu" class="d-block">
                            <img src="assets/images/bangong.png" alt="" class="img-fluid" />
                        </a>

                    </div>
                    <div class="col-lg-2 col-md-4 mt-5">
                        <div class="s-block">
                            <a href="http://localhost:8081/gongyinglian" class="d-block">
                                <img src="assets/images/wuliu.png" alt="" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mt-5">
                        <div class="s-block">
                            <a href="http://localhost:8081/jixiao" class="d-block">
                                <img src="assets/images/renli.png" alt="" class="img-fluid" />
                            </a>
                        </div>
                    </div>

                </div>
                <p class="mx-lg-5">
                    金蝶软件（中国）有限公司，深圳易伙科技有限责任公司、同济大学、西安交通大学、安徽大学、北京机械工业自动化研究所有限公司、东莞中国科学院云计算产业技术创新与育成中心、大族激光科技产业集团股份有限公司、电子科技大学、工业和信息化部电子第五研究所
                </p>
            </div>


        </div>

    </div>




</section>
<!-- //banner section -->


</body>

</html>