<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>国家重点研发计划</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">

</head>

<body>
<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <a class="navbar-brand" >
                <span class="fa fa-handshake-o"></span> 制造云
            </a>
            <!-- if logo is image enable this
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->


        </nav>
    </div>
</header>
<!--/header-->



<!-- index-block2 -->
<section class="w3l-index2 py-5">
    <div class="container py-md-3">
        <div class="header-section text-center mx-auto">
            <!--<h6 class="sub-title">Why Choose Us</h6>-->
            <br> </br>
            <h3>制造云功能</h3>
        </div>
        <div class="row bottom_grids text-center">
            <div class="col-lg-2 col-md-6 mt-5" height="20px">
                <div class="s-block">
                    <a th:href="@{${pdm}}" class="d-block">
                        <img src="assets/images/s1.png" alt="" class="img-fluid"  />
                        <h3 class="my-3">制造产品数据管理</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mt-5">
                <div class="s-block">
                    <a th:href="@{${om}}" class="d-block">
                        <img src="assets/images/s2.png" alt="" class="img-fluid" />
                        <h3 class="my-3">产品委外管理</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 mt-5">
                <div class="s-block">
                    <a th:href="@{${mds}}" class="d-block">
                        <img src="assets/images/s3.png" alt="" class="img-fluid" />
                        <h3 class="my-3">需求管理</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mt-5">
                <div class="s-block">
                    <a th:href="@{${mrp}}" class="d-block">
                        <img src="assets/images/s1.png" alt="" class="img-fluid"  />
                        <h3 class="my-3">物料需求计划</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mt-5">
                <div class="s-block">
                    <a th:href="@{${pom}}" class="d-block">
                        <img src="assets/images/s2.png" alt="" class="img-fluid" />
                        <h3 class="my-3">生产任务管理</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 mt-5">
                <div class="s-block">
                    <a th:href="@{${sfc}}" class="d-block">
                        <img src="assets/images/s3.png" alt="" class="img-fluid" />
                        <h3 class="my-3">车间控制</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 mt-5">
                <div class="s-block">
                    <a th:href="@{${opm}}" class="d-block">
                        <img src="assets/images/s3.png" alt="" class="img-fluid" />
                        <h3 class="my-3">工序委外管理</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-angle-up"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
</section>
<!-- //footer -->
</footer>

<!-- jQuery JS -->
<!-- <script src="assets/js/jquery-3.4.1.slim.min.js"></script> -->
<!-- jQuery JS -->
<script src="assets/js/jquery-1.9.1.min.js"></script>

<!-- Template JavaScript -->
<script src="assets/js/owl.carousel.js"></script>

<!-- script for testimonials -->
<script>
    $(document).ready(function () {
        $('.owl-two').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 2,
                    nav: false
                }
            }
        })
    })
</script>
<!-- //testimonials owlcarousel -->

<!-- script for customers -->
<script>
    $(document).ready(function () {
        $('.owl-three').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 2,
                    nav: false
                },
                667: {
                    items: 2,
                    nav: false
                },
                1000: {
                    items: 4,
                    nav: false
                }
            }
        })
    })
</script>
<!-- //customers owlcarousel -->

<!-- responsive tabs -->
<script src="assets/js/easyResponsiveTabs.js"></script>

<!--Plug-in Initialisation-->
<script type="text/javascript">
    $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>

<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });
</script>

<!-- stats number counter-->
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats number counter -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->

<!--  Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
</body>

</html>